@import "_functions";
@import "_mixins";
@import "_variables";

.block-lb-carousel {
  padding-bottom: 25px;
  .section-description {
    padding: 55px 0 30px;

    @include media-breakpoint-up(md) {
      padding: 100px 0 60px;
    }

    h2 {
      font-size: 48px;
      line-height: 54px;
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        font-size: 64px;
        line-height: 70px;
        margin-bottom: 24px;
      }
    }

    p {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .carousel {
    .carousel-inner {
      .carousel-item {
        text-align: var(--wsTextAlignment, unset);
        background-color: #F2F2F2;
        height: auto;

        &.with-info {
          min-height: 520px;

          @include media-breakpoint-up(md) {
            height: 590px;
          }
        }

        .carousel-item-inner {
          display: flex;
          flex-direction: column;
          height: 100%;

          @include media-breakpoint-up(md) {
            flex-direction: row;
          }

          .image-wrapper {
            @include media-breakpoint-up(md) {
              flex: 2 1;
            }
            @include media-breakpoint-up(lg) {
              flex: 3 1;
            }
          }

          @include media-breakpoint-up('md') {
            background-image: none !important;
          }

          .carousel-gallery-info {
            display: flex;
            flex-direction: column;
            align-items: var(--wsFlexAlignment, unset);
            justify-content: center;
            gap: 20px;
            background-color: #F2F2F2;
            padding: 40px 20px 60px;

            @include media-breakpoint-up(md) {
              padding: 60px 48px;
              flex: 1 1;
              gap: 26px;
            }

            @include media-breakpoint-up(lg) {
              padding: 60px;
            }

            h2 {
              font-size: 26px;
              line-height: 32px;
              margin: 0;
              @include media-breakpoint-up('md') {
                font-size: 32px;
                line-height: 34px;
              }
            }

            p {
              font-size: 18px;
              margin: 0;
              line-height: 28px;
            }

            .btn {
              margin: 10px 0 0;
              width: fit-content;

              @include media-breakpoint-up(md) {
                margin: 0;
              }
            }
          }

          img {
            object-fit: cover;
            height: 100%;
            min-height: 230px;
          }
        }
      }
    }
  }

  .carousel-control-panel {
    position: absolute;
    bottom: -20px;
    left: 20px;
    width: calc(100% - 40px);
    background-color: var(--wsSecondaryColor, black);
    border-radius: 26px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
    align-items: center;

    @include media-breakpoint-up(md) {
      height: 50px;
      width: 730px;
      bottom: -25px;
      left: calc(50% - 365px);
    }

    @include media-breakpoint-up(lg) {
      width: 850px;
      left: calc(50% - 425px);
    }

    button {
      opacity: 1;
      position: static;
      border: none;
      width: 30px;
      height: 30px;
      background: var(--ylb-color-white, #ffffff) url("../image/arrow.svg") no-repeat center;
      background-size: 58%;
      border-radius: 50%;
      @include media-breakpoint-up(md) {
        width: 40px;
        height: 40px;
        background-size: auto;
      }

      &.carousel-control-next {
        transform: rotate(180deg);
      }

      &:hover,
      &:focus {
        opacity: 0.7;
      }

      // Set the text color for hidden content to satisfy WAVE.
      .visually-hidden {
        color: black;
      }
    }

    .carousel-indicators {
      position: static;
      width: 690px;
      flex: 1;
      display: flex;
      flex-direction: row;
      height: fit-content;
      margin: 0;

      li {
        opacity: 1;
        border: none;
        margin: 0;
        background-color: unset;
        padding: 15px;
        cursor: pointer;
        flex: 1 1;
        list-style: none;
        height: fit-content;

        &.active {
          .indicator {
            opacity: 1;
          }
        }

        .indicator {
          height: 4px;
          opacity: 0.3;
          border-radius: 7px;
          background-color: var(--ylb-color-white, #ffffff);
        }
      }
    }
  }

  // WS Style component-level adjustments.
  // - Text / Button alignment style.
  &.ws-text-alignment--left {
    .carousel {
      .carousel-inner {
        .carousel-item {
          text-align: left;

          .carousel-item-inner {
            .carousel-gallery-info {
              align-items: flex-start;
            }
          }
        }
      }
    }
  }

  &.ws-text-alignment--center {
    .carousel {
      .carousel-inner {
        .carousel-item {
          text-align: center;

          .carousel-item-inner {
            .carousel-gallery-info {
              align-items: center;
            }
          }
        }
      }
    }
  }
}
